In [1]:
#load libraries and setup file
import sys,os
root_path = os.path.abspath(os.path.join('..'))
print(root_path)
if root_path not in sys.path:
    sys.path.append(root_path)
%run -i "../lib/utils/ipynb_setup.py"
%load_ext autoreload
%autoreload 2
%matplotlib inline

/home/max/Dropbox/scripts/Projects/topicmod/STM/code

import data

In [2]:
df=pd.read_stata('../../data/carbon_tax/CCOP_wave1.dta')

In [23]:
df.columns.values

array(['responseid', 'status', 'intcode', 'interview_start',
       'interview_end', 'temptime', 'lang', 'prov', 'd1', 'd3', 'age',
       'qmip', 'qmip_01', 'qmip_02', 'qmip_03', 'qmip_04', 'qmip_05',
       'qmip_06', 'qmip_07', 'qmip_08', 'qmip_09', 'qmip_10', 'qmip_11',
       'qmip_12', 'qmip_13', 'qmip_14', 'qmip_15', 'qmip_16', 'qmip_17',
       'qmip_18', 'qmip_19', 'qmip_20', 'qmip_21', 'qmip_22', 'qmip_96',
       'qmip_98', 'p1', 'p2_1', 'p2_2', 'p2_3', 'p2_4', 'p2_5', 'p2_6',
       'p2_7', 'p2_8', 'p3_1', 'p3_2', 'p3_3', 'p3_4', 'p3_5', 'p4a_1',
       'p4a_2', 'p4a_3', 'p4a_4', 'p4a_5', 'p4b_6', 'p4b_7', 'p4b_8',
       'p4b_9', 'p4b_10', 'p4b_11', 'pk1', 'pk2', 'e2', 'e5', 'e6', 'e7',
       'e8', 'a1', 'a2', 'a3', 'a4', 'a5', 'po1', 'po2', 'po3a',
       'po3a_01', 'po3a_02', 'po3a_03', 'po3a_04', 'po3a_05', 'po3a_06',
       'po3a_07', 'po3a_08', 'po3a_09', 'po3a_10', 'po3a_11', 'po3a_12',
       'po3a_13', 'po3a_14', 'po3a_15', 'po3a_16', 'po3a_17', 'po3a_18',
       'po3a_19', 'po3a_96', 'po3a_97', 'po3a_98', 'po3b', 'po3b_01',
       'po3b_02', 'po3b_03', 'po3b_04', 'po3b_05', 'po3b_06', 'po3b_07',
       'po3b_08', 'po3b_09', 'po3b_10', 'po3b_11', 'po3b_12', 'po3b_13',
       'po3b_14', 'po3b_15', 'po3b_16', 'po3b_17', 'po3b_18', 'po3b_96',
       'po3b_97', 'po3b_98', 'po3c', 'po3c_01', 'po3c_02', 'po3c_03',
       'po3c_04', 'po3c_05', 'po3c_06', 'po3c_07', 'po3c_08', 'po3c_09',
       'po3c_10', 'po3c_11', 'po3c_12', 'po3c_13', 'po3c_14', 'po3c_15',
       'po3c_16', 'po3c_17', 'po3c_18', 'po3c_96', 'po3c_98', 'po7a',
       'po7b', 'po9', 'po10_1', 'po10_2', 'po10_3', 'po10_4', 'po10_5',
       'po10_6', 'po10_7', 'po10_8', 'po11_1', 'po11_2', 'po11_3',
       'po11_4', 'po12_1', 'po12_2', 'po12_3', 'po12_4', 'po13_1',
       'po13_2', 'po13_3', 'po13_4', 'po18', 'po22_96_other', 'po22_1',
       'po22_2', 'po22_3', 'po22_4', 'po22_5', 'po22_96', 'po22_98',
       'po23_96_other', 'po23_1', 'po23_2', 'po23_3', 'po23_4', 'po23_5',
       'po23_6', 'po23_96', 'po23_97', 'po23_98', 'p24', 'p25', 'b1_1',
       'b1_2', 'b1_3', 'b1_4', 'b1_5', 'b1_96', 'b1_97', 'b1_96_other',
       'b2_1', 'b2_2', 'b2_3', 'b2_4', 'b2_5', 'b2_96', 'b2_97',
       'b2_96_other', 't1', 't2', 't2b', 't3', 't4', 't5', 'v1', 'v2_1',
       'v2_2', 'v2_3', 'v2_4', 'v2_5', 'v2_6', 'v2_99', 'v3', 'v4_1',
       'v4_2', 'v4_none', 'v5_1', 'v5_2', 'v5_none', 'd2_96_other',
       'd2_1', 'd2_2', 'd2_96', 'd4', 'd5', 'd6', 'd7', 'd8', 'd10',
       'd11', 'd12', 'd13', 'd14', 'immig', 'kids', 'Weight'],
      dtype=object)

In [4]:
df.head()

,responseid,status,intcode,interview_start,interview_end,temptime,lang,prov,d1,d3,...,d7,d8,d10,d11,d12,d13,d14,immig,kids,Weight
0,27,complete,C1,2019-02-22 11:27:04,2019-02-22 11:54:52,1665,EN,ON,Male,63,...,0,2,"Within a suburb, adjacent to a large city",8,College / CEGEP graduate,This doesn't apply to me,"$40,000-$59,999","No, Born in Canada",No,2.389879
1,28,complete,C1,2019-02-22 11:27:07,2019-02-22 11:35:38,508,EN,ON,Male,31,...,2,2,"Within a suburb, adjacent to a large city",8,Post-graduate university degree,Drive alone,"$200,000 or more","No, Born in Canada",Yes,1.722694
2,29,complete,C1,2019-02-22 11:30:30,2019-02-22 11:44:23,831,EN,SK,Female,49,...,1,1,Within a large city,Centre5,College / CEGEP graduate,Drive alone,"$40,000-$59,999","No, Born in Canada",Yes,0.166414
3,30,complete,C1,2019-02-22 11:31:25,2019-02-22 11:37:52,385,EN,AB,Male,28,...,0,1,Within a large city,Centre5,Less than college/some CEGEP,Transit,"Under $20,000","Yes, Not born in Canada",No,1.014922
4,31,complete,C1,2019-02-22 11:32:31,2019-02-22 11:49:40,1027,EN,AB,Male,31,...,0,1,In a small town,7,Undergraduate university degree,Drive alone,"$40,000-$59,999","No, Born in Canada",No,0.671907

In [5]:
df.lang.value_counts()

EN    2755
FR     558
Name: lang, dtype: int64

In [6]:
df.prov.value_counts()

SK    668
AB    663
BC    661
QC    661
ON    660
Name: prov, dtype: int64

In [7]:
df.d1.value_counts()

Female    1690
Male      1615
Other        8
Name: d1, dtype: int64

age

In [8]:
df.d3.value_counts().sort_index()

18              57
19              55
20              54
21              49
22              60
                ..
88               1
89               2
90               2
96               1
100 or older     1
Name: d3, Length: 75, dtype: int64

years as resident of canada

In [9]:
df.d4.unique()

['63', '31', '49', '21', '25', ..., '87', '82', '89', '88', '96']
Length: 93
Categories (93, object): ['Less than 1 year' < '1' < '2' < '3' ... '89' < '90' < '96' < '100 years or more']

own home

In [10]:
df.d5.value_counts()

Own      2202
Rent     1037
Other      74
Name: d5, dtype: int64

partner

In [11]:
df.d6.value_counts()

Yes    1996
No     1317
Name: d6, dtype: int64

children

In [12]:
df.d7.value_counts()

0            2365
1             412
2             386
3             104
4              32
5              10
7 or more       2
6               2
Name: d7, dtype: int64

In [13]:
df.kids.value_counts()

No     2365
Yes     948
Name: kids, dtype: int64

vehicles

In [14]:
df.d8.value_counts()

1            1360
2            1197
0             343
3             296
4              72
5 or more      45
Name: d8, dtype: int64

community

In [15]:
df.d10.value_counts()

Within a large city                          1288
Within a suburb, adjacent to a large city     681
In a smaller, regional city                   643
In a small town                               362
In a rural area                               301
In a remote area                               21
Not sure                                       17
Name: d10, dtype: int64

politics

In [16]:
df.d11.value_counts()

Centre5               1090
Not sure               539
7                      270
4                      260
3                      256
6                      234
8                      197
2                      152
9                       93
Far to the right10      91
1                       73
Far to the left0        58
Name: d11, dtype: int64

education

In [17]:
df.d12.value_counts()

Undergraduate university degree    817
College / CEGEP graduate           735
High school graduate               588
Some university                    342
Post-graduate university degree    337
Less than college/some CEGEP       221
Apprenticeship                     155
Less than high school              118
Name: d12, dtype: int64

transportation

In [18]:
df.d13.value_counts()

Drive alone                     1295
This doesn't apply to me         917
Transit                          486
Drive with others or carpool     236
Walk                             209
Work/study at home               134
Cycle                             36
Name: d13, dtype: int64

income

In [19]:
df.d14.value_counts()

$40,000-$59,999         516
$80,000-$99,999         464
$20,000-$39,999         442
$60,000-$79,999         439
Prefer not to answer    401
$100,000-$119,999       296
Under $20,000           273
$120,000-$159, 999      272
$200,000 or more        107
$160,000-$199,999       103
Name: d14, dtype: int64

postal code

immigration

In [20]:
df.immig.value_counts()

No, Born in Canada         2527
Yes, Not born in Canada     786
Name: immig, dtype: int64

weight

In [25]:
df.Weight.value_counts()

0.147662    56
0.206292    51
1.490301    48
0.146817    47
0.536984    46
            ..
2.042248     3
0.735447     3
1.352021     2
0.873578     2
0.992311     1
Name: Weight, Length: 144, dtype: int64